[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

Flask = "*"
PyNaCl = {version = ">=1.2.0"}
"Flask-SQLAlchemy" = "*"
"Flask-Migrate" = "*"
"Flask-Script" = "*"
"python-dateutil" = "*"
click = "*"
"cenotes-cli" = "*"


[dev-packages]

pytest = "*"
tox = "*"
"pytest-flask" = "*"
coverage = "*"
Sphinx = "*"
"sphinx-autobuild" = "*"
"flake8" = "*"
bumpversion = "*"
