[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

flask = "*"
pynacl = "*"
"flask-sqlalchemy" = "*"
"flask-migrate" = "*"
"flask-script" = "*"
"python-dateutil" = "*"


[dev-packages]

pytest = "*"
tox = "*"
"pytest-flask" = "*"
coverage = "*"
sphinx = "*"
"sphinx-autobuild" = "*"
"flake8" = "*"