[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pynacl = {version = ">=1.2.0"}
"flask-sqlalchemy" = "*"
"flask-migrate" = "*"
"flask-script" = "*"
"python-dateutil" = "*"
click = "*"
"cenotes-lib" = {version = ">=0.2.3"}
"jinja2" = "==2.10.1"
"urllib3" = "==1.24.2"

[dev-packages]
pytest = {version = "==3.7.0"}
"pytest-flask" = "*"
coverage = "*"
sphinx = "*"
"sphinx-autobuild" = "*"
"flake8" = "*"
bumpversion = "*"
tox = "*"
"pyyaml" = {version = ">=4.2b4"}
