-i https://pypi.python.org/simple
alembic==0.9.10
cenotes-lib==0.2.2
cffi==1.11.5
click==6.7
flask-migrate==2.1.1
flask-script==2.0.6
flask-sqlalchemy==2.3.2
flask==1.0.2
itsdangerous==0.24
jinja2==2.10
mako==1.0.7
markupsafe==1.0
pycparser==2.18
pynacl==1.2.1
python-dateutil==2.7.3
python-editor==1.0.3
six==1.11.0
sqlalchemy==1.2.9
werkzeug==0.14.1
